table {    
    border-collapse: collapse;
    border: 2px solid gray;
    width: 60%;
    align:center;    
}

table.center {
    margin-left:auto; 
    margin-right:auto;
}

td,th {
    padding: 3px; 
    border: 1px solid black; 
}

thead {
    font-weight: bold;
}   

.btn {
    border: none;
    background-color:#008CBA;
    color: white;
    padding: 15px 32px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
}

.menu-btn{
    padding-bottom: 24px;
}

.table-row-group {
    background: aquamarine;
    color: black;
    font-weight: bold;
}
.itemhist {
    font-style: normal;
   
}
.newitemhist  {
    font-style: italic;
    background: #16d89e;
}

.errorinfo {
    color: red
}

.return {
    background: #afa0f3;
}

.hide {
    visibility: hidden;   
    display: none;
}
.show {
    visibility: visible;   
    display: block;
}

.car-info-value,.car-rent,.car-goods {
    font-weight: bold;
}

.car-rent {
    color: orange;
}
.car-goods {
    color: green;
}