.itemhist {
    font-style: normal;
   
}
.newitemhist  {
    font-style: italic;
    background: #16d89e;
}

.errorinfo {
    color: red
}

.return {
    background: #afa0f3;
}

.hide {
    visibility: hidden;   
    display: none;
}
.show {
    visibility: visible;   
    display: block;
}