{{template "header" .}}
    <h3>Статистика проката автомобилей в разрезе подразделений</h3>    
    <link rel="stylesheet" type="text/css" href="/static/js/style.css" media="screen" />
{{template "footer" .}}    